{% extends "base.html" %}

{% load static %}

{% block css %}
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="{% static 'info/' %}assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'info/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'info/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'info/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'info/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'info/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'info/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'info/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'info/assets/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">Cluez.io</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="https://cluez.io/accounts/login/?next=/search/list/" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Are you looking for affordable trust?</h1>
          <!-- <h1>AI-enabled bad news engine for small and medium businesses</h1> -->
          <h2>Let us help you make informed business decisions about your customers without spending a fortune on due diligence.</h2>
          <div class="d-lg-flex">
            <a href="https://cluez.io/accounts/login/?next=/search/list/" class="btn-get-started scrollto">Get Started</a>
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'info/' %}assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">
          <div class="d-flex align-items-center justify-content-center">
            <img src="{% static 'info/' %}assets/img/clients/ceuilab.png" width = 600 class="center" alt="" img style="float: left; padding-right: 150px;">
            <h6>Proudly incubated in Central European University Innovations Lab</h6>
          </div>

          <!-- <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'info/' %}assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'info/' %}assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'info/' %}assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'info/' %}assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'info/' %}assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div> -->

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Robert De Niro has been scammed. So have Billy Joel and the Backstreet Boys. It has happened to your neighbor. Chances are you’re next. You don’t have to be a secret agent to find the clues that will help you avoid trouble.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Cluez is a smart background screening engine that identifies bad news on the internet. The app helps small teams mitigate business risk without having to spend a fortune on manual due diligence processes.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Imagine an app that returns precise information about your current or prospective business partner faster than it takes to type their name into the search bar. If you're looking for <b>affordable trust</b> give Cluez a try.</p><br>
          <p><b>How's this possible?</b> We bring a combination of data science, linguistics, and a passion for investigations into our app. As a result, you can easily <b>search and vet individuals and companies</b> to make sure you don't get burned.</p><br>
          <p>Currently we support searches in <b>English, French, German, Spanish, Hungarian, and Polish.</b> If the language you're looking for is not listed, reach out to us with a recommendation!</p>
        </div>

        <div class="row">
          <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Personal</a></h4>
              <p>Search for any individual based on first and last name in six different regions and in six different languages.</p>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Businesses</a></h4>
              <p>Search for any business or organization based on its business name and extension.</p>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Bulk</a></h4>
              <p>For customers who need to be compliant by law.</p>
            </div>
          </div>

          <!-- <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">GDPR Compliant Reporting</a></h4>
              <p>Compliant with General Data Protection Regulation (GDPR), especially related to the guidelines for collecting and processing personal information.</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Cluez is based in Hungary, in Budapest's banking and government district. Our office space is provided by Central European University's Innovations Lab incubator program.</p><br>
          <p>We're a team of six with a network of dedicated helpers and professionals from finance and business.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{% static 'info/' %}assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Fruzsina Katona</h4>
                <span>Chief Executive Officer</span>
                  <p>
                    Experienced in due diligence checks and investigations.
                  </p>
                <div class="social">
                  <!-- <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
                  <a href="https://www.linkedin.com/in/fruzsina-katona-kyc/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="{% static 'info/' %}assets/img/team/team-2.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Bermet Alibekova</h4>
                <span>Finance and Product Manager</span>
                <p>Experienced in central bank foreign reserves management.</p>
                <div class="social">
                  <!-- <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
                  <a href="https://www.linkedin.com/in/bermetalibekova/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{% static 'info/' %}assets/img/team/team-3.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ondrej Fryml</h4>
                <span>Product Quality Control</span>
                <p>
                  Enhanced due diligence quality specialist, compliance product quality control.
                </p>
                <div class="social">
                  <!-- <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
                  <a href="https://www.linkedin.com/in/ondřej-fryml-5b4937b1/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="{% static 'info/' %}assets/img/team/team-prashant.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Prashant More</h4>
                <span>Valuation and Risk Analyst</span>
                <p>Experienced Mechanical Engineer and Financial Analyst.</p>
                <div class="social">
                  <!-- <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
                  <a href="https://www.linkedin.com/in/profprashantmore/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="{% static 'info/' %}assets/img/team/team-5.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Benjámin Gerván</h4>
                <span>Developer</span>
                <p>Experienced Fullstack Web Developer.</p>
                <div class="social">
                  <!-- <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
                  <a href="https://www.linkedin.com/in/benjámin-gerván-070b3a91/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="{% static 'info/' %}assets/img/team/team-6.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Flora Mintus</h4>
                <span>Marketing assistant</span>
                <p>Trained in research methodologies and customer relations.</p>
                <div class="social">
                  <!-- <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a> -->
                  <a href="https://www.linkedin.com/in/flora-mintus/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Please feel free to contact us to know more about how we can help your business in the broader perspective of risk mitigation. You can also connect with us using the social media links provided below.</p>
        </div>

        <div class="faq-list">
          <ul>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-1">Can I use the app now? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                <p>We're currently in the process of beta testing. If you're interested in helping us learn and grow, send an </p> <a href = "mailto: hello@cluez.io" style = "display: inline">inquiry.</a>
              </div>
            </li>


            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">What is due dilligence? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Whether it's called background screening or third party risk management, in essence due diligence is about knowing the identity and reputation of business partners and customers. For some industries, like financial services and art dealing, due diligence is required by strict laws (e.g. the EU's Anti-Money Laundering Directives) and industry guidelines (e.g. the Financial Action Task Force's guidelines). The moral of the story is that you need to be compliant and careful.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Is due diligence worth it? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  Absolutely. According to research from PwC, companies lose some 42 billion USD to fraud every year. Due diligence is a matter of being safe, not sorry. A little skin in the game up front can prevent future complications for you and your customer.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Is due diligence expensive? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  Due diligence processes can, of course, be costly. To maintain a team of investigators tasked with making heads or tails of the reams of data generated each second on the Internet is not sustainable for SMEs. Cluez's elegant user interface and speedy smart technology allow you to avoid these expenses while getting top quality results.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Does Cluez tell me if someone's a bad guy? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  Yes, but no. The app searches the Internet for your search subject and shows the relevant negative results to allow you to make an informed business decision.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Have questions? Suggestions? Complaints? We would love to hear from you.</p>
        </div>

        <div class="">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>CEU Innovation Lab, Nador utca 9, Budapest, Hungary.</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>hello@cluez.io</p>
                <a class="send-mail-btn" type="submit" href="mailto: hello@cluez.io">Send Email</a>
              </div>

<!--              <div class="phone">-->
<!--                <i class="icofont-phone"></i>-->
<!--                <h4>Call:</h4>-->
<!--                <p>+36 123456789</p>-->
<!--              </div>-->

<!--              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>-->
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

<!--    <div class="footer-top">-->
<!--      <div class="container">-->
<!--        <div class="row">-->

<!--          <div class="col-lg-3 col-md-6 footer-contact">-->
<!--            <h3>Cluez.io</h3>-->
<!--            <p>-->
<!--              123 Adam Street, <br>-->
<!--              Budapest, Hungary.<br>-->
<!--              <strong>Phone:</strong> +36 123456789<br>-->
<!--              <strong>Email:</strong> hello@cluez.io<br>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Useful Links</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Our Services</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Our Social Networks</h4>-->
<!--            <p>More ways to connect with us</p>-->
<!--            <div class="social-links mt-3">-->
<!--              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
<!--              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
<!--              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright 2021<strong><span> Cluez.io</span></strong>. All Rights Reserved.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'info/' %}assets/vendor/jquery/jquery.min.js"></script>
  <script src="{% static 'info/' %}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'info/' %}assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="{% static 'info/' %}assets/vendor/php-email-form/validate.js"></script>
  <script src="{% static 'info/' %}assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="{% static 'info/' %}assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{% static 'info/' %}assets/vendor/venobox/venobox.min.js"></script>
  <script src="{% static 'info/' %}assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="{% static 'info/' %}assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'info/' %}assets/js/main.js"></script>



  {% block content %}

  {% endblock content %}


</body>

{% endblock body %}

</html>

