{% extends "base.html" %}
{% load static %}

{% block title %}Searches{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">


     <h2>My searches</h2>
    <a class="btn btn-outline-info" href="{% url 'searches:search_individual' %}" role="button">Search for individual</a>
    <a class="btn btn-outline-warning" href="{% url 'searches:search_organization' %}" role="button">Search for organization</a>

  <br>
  <br>
    <div class="list-group">
      {% for search in searches %}
        <a href="/search/{{ search.pk |safe }}/" class="list-group-item list-group-item-action flex-column align-items-start {% if not search.finished %}disabled{% endif %}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ search.input |safe }}</h5>
            <small class="text-muted">{{ search.created_at |timesince }}</small>
          </div>
          <p class="mb-1">Subject name: {{ search.input |safe }}</p>
          <p class="mb-1">Keyword language: {{ search.lang |upper }}</p>
          <p class="mb-1">Region: {{ search.region |upper }}</p>

          {% if user.is_staff %}<p class="mb-1">Duration: {{ search.duration }}</p>{% endif %}

          {% if not search.finished %}<small class="text-muted">Search in progress</small>
          {% else %}<small class="text-muted">Search is finished</small>
          {% endif %}
        </a>
      {% endfor %}
    </div>


    </div>
  </div>


</div>
{% endblock content %}

